@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: outfit;
}
html,body{
    width: 100%;
    height: 100%;
    
}
:root{
    --herobg:#292929;
    --nav-text:#d53f4f;
    --yellow:#FFDB00;
    --red:purple;
}
.container{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
nav{
    display: flex;
    gap: 50px;
}
nav h4 a{
    text-decoration: none;
    color: #0000EE;
    font-size: 25px;
    text-transform: capitalize;
    transition: 0.2s;
    font-weight: 600;
}
nav h4{
    transition: 0.1s;
}
nav h4:hover{
    transform: scale(1.08);
}
nav h4 a:hover{
    color:#d53f4f;
}
header{
    padding: 20px 0px;
    background-color: #D1BCFF;
    color: rgb(0, 0, 0);
}
#logo h2{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    color: #0000EE;
    transition: 0.1s;
    font-weight: 900;
}
#logo h2:hover{
    color:#d53f4f ;
    transform: scale(1.06);
}
#hero-banner{ 
    padding: 60px 0px;
}
#hero{
    display: flex;
    align-items: center; 
}
#hero-cont{
    width: 50%;
}
#hero-cont button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#hero-img{
    width: 50%;
    height: 100%;
    /* border: solid red; */
}

#hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero-cont h2{
    font-size: 100px;
    line-height: 100px;
}#hero-cont h3{
    font-size: 50px;
    color: red;
    margin: 10px 0px; 
    transition: 1s;
} 
#hero-cont h3:hover{
    color:blue;
}
#hero-cont h4{
    font-size: 40px;
}
#hero-cont button{
    width: 30%;
    padding:10px 15px ;
    margin: 20px 0px; 
    border: none;
    border-radius: 10px;
    background-color: #FF0000;
    font-size: 22px;
    font-weight: 500;
    overflow: hidden;
    transition: 0.5s;
}
#hero-cont button i{
   color: white;
   font-size: 30px;
   padding-left: 10px;
}
#hero-cont button:hover{
    background-color: blue;
    color: white;
    transform: scale(1.1);
}
#hero-cont button:hover a{
    color:white;
}

.about h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 700;
    padding:20px 0px;
    background-color:rgb(198, 234, 234);
}
.ab-img{
    width: 45%;
    margin: 50px auto;
}
.ab-img img{
    width: 85%;
}
.ab-me{ 
    width: 100%;
    margin-top: 50px;
    position: relative;
}
.ab-points{
    width: 20%;
    /* border: 0.2px solid rgb(198, 234, 234);  */
    box-shadow: inset 0 0 25px rgb(198, 234, 234) ;
    padding: 40px;
    margin-top: 60px;
    transition: 1s;
    overflow: hidden;
    border-radius: 15px;
}
.ab-points:hover{
    transform: scale(1.1);
    background-color: #F6C7BF;
    box-shadow: 0 0 20px #F6C7BF;
    color: #112049;
}
.ab-points h5{
text-align: center;
text-transform: capitalize;
font-size: 28px;

}
.ab-points p{
    text-align: center;
    font-size: 18px;
    padding: 25px 0;
    line-height: 1.5;
}
.ab-left{
    position: absolute;
    left: 20px;
    top: -360px;
}
.ab-right{
    position: absolute;
    right: 20px;
    top: -360px;
    padding-bottom: 50px;
}
.skill{ 
    padding-top: 200px; 
}
.skill h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 700;
    padding:20px 0px;
    background: #7AC4F2;
}
.skills{
    width: 80%;
    margin: 120px auto;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #7AC4F2;
    background-color: white;
    flex-wrap: wrap;
}
.skill1{
    width: calc(50% - 50px);
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 .skill-img{ 
    width: 120px;
    height: 120px;
    padding: 20px;
    border-radius: 50%;
    box-shadow:inset 0px 0px 20px #7AC4F2;
    object-fit: cover;
    transition: 1s;
 }
 .skill1:hover .skill-img{
    transform: scale(1.3);
    box-shadow: 0px 0px 20px #7AC4F2;
 }
 .skill-img img{
    width: 100%;
    height: 100%;
    transition: 1s;
 }
 .skill1:hover .skill-img img{
    transform: rotate(360deg);
 }
 .skill1 h3{
    font-size: 35px;
    
 }
 .skill1 p{
    width: 90%;
    font-size: 18px;
    line-height: 25px;
    color: rgb(63, 62, 62);
    
 } 
.html img{
    width: 75%;
    padding: 30px;
}
.skill1:hover .html img{
    transform: scale(0.9);
    /* background: linear-gradient(to bottom right, #9BD6F6,#FBC677); */ 
    border-radius: 35px;
}
.css img{
    width: 55%;
    margin-left: 100px;
    margin-top: 220px;
    padding: 20px;
}
.skill1:hover .css img{
    transform: scale(1.2);
    /* background:linear-gradient(to bottom right,#9BD6F6,#FBC677); */
    /* box-shadow: 0 0 20px #517081; */
    border-radius: 35px;
}
.rwd img{
    width: 80%;
    margin-top: 250px;
}
.skill1:hover .rwd img{
    transform:rotateY(360deg);
    /* background: linear-gradient(to bottom right, #9BD6F6,#FBC677); */
    /* box-shadow: 0 0 20px  #517081; */
    border-radius: 35px;
}

.project h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 600;
    padding:20px 0px;
    background: #475FF3;
    color: white;
}
.project-parent{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.project1{
    box-shadow: 0px 0px 20px rgb(205, 204, 204);
    width: calc(32% - 20px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;

}
.project1:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #475ef3bf;
}
.project1 img{
    width: 100%;
    height: 260px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}
.project1 p{
     width: 97%;
    font-size: 18px;
    color: #29292980;
    line-height: 1.3;
}
.btn {
    width: 55%;
    border: 2px solid black;
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 22px;
    letter-spacing: 1px;
    transition: 1s;
}
.btn:hover{

    border: 2px solid transparent;
    background-color: #475FF3;
}
.btn a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .5s;
}
.btn:hover a{
    color: rgb(255, 255, 255);
}
.btn i{
    transition: 0.2s;
}
.btn:hover i{
    transform: rotate(45deg);
}






.contact1 h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 600;
    padding:20px 0px;
    background: #cd92e9da;
}
.con-pt {
    background-color: #f3e9f7;
    
}
.contact{ 
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
   
}
.contact_info{
    width: 50%; 
     display: flex;
    justify-content: space-between;
    transition: 0.5s;
} 
.contact_info:hover h5{
    transform: rotateX(360deg);
}
.contact_info .info h5{ 
    padding: 20px 0px;
    font-size:24px;
}
 
.media{ 
    margin: 15px 0; 
    transition: 0.6s; 
}

.contact_info .media h5{ 
    font-size:24px; 
} 
.info li{
    color: rgb(67, 65, 65); 
    list-style: none;
    transition: 0.6s;
}
.info li a{
    font-size: 18px; 
    margin-top: 10px;
    margin-right: 10px;
    color: rgb(67, 65, 65); 
    transition: 0.6s;
    width: 70%;
    text-decoration: none;
}
.info li a:hover{
    color:#e92a70;
    transform: scale(1.1);
}
.info li:hover{
    color:#e92a70;
    transform: scale(1.1);
}
#flex {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-top: 35px;
}
#flex li i {
    transition: 0.6s;
    border: 3px solid black;
    border-radius: 50%;
    padding: 13px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#flex li i:hover{
    color:#e92a70;
    border: 3px solid #e92a70;
    transform: scale(1.1);
}

.contact_message{
    width: 50%; 
}
 
.contact_message h5{ 
    padding: 20px 0px;
    font-size:24px
} 
.contact_message .message_name{
    width: 100%;
    display: flex;
    gap: 20px;

}
.contact_message .message_name input{ 
    border: none;
    width:Calc(50% - 10px);
    padding: 15px 10px;
    background-color: white;
    font-size: 20px;
border-radius: 5px;
}
.contact_message .message_message textarea { 
    border: none;
    width: 100%;
    font-size: 20px;
    padding:10px 15px 70px 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}
.contact_message .btn {
    width: 40%;
    text-align: center;
    background-color:#d53f4f; 
    color: white;
    margin-top: 30px;
    padding: 13px 25px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
}
.footmain{ 
    border-top:1px solid #ccc;
} 
.foot1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.foot1 .foot1-1 p {
    font-size: 20px; 
}
 .foot1 .foot1-1  #themes{
    color:#0021f8; 
    font-size: 30px;
    font-weight: 700;
    font-family: "Dancing Script", cursive;
    letter-spacing: 1.3px;
}
.contact h5{
    transition: 0.5s;
}
.contact:hover h5{
    transform: rotateX(360deg);
}

 

@media (max-width:481px){
    .container{
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
    header{
        padding: 10px 0px;
    }
    #logo h2{
        font-size: 20px;
         
    }
    nav{
        display: none;
    }
    #hero-banner {
        padding: 30px 0px;
    }
    #hero-cont h2{
        font-size: 40px;
        line-height: 50px;
    }
    #hero-cont h3{
        font-size: 23px;
    }
    #hero-cont h4{
        font-size: 20px;
    }
    #hero-img{
        display: none;
    }
    .about h2{
        font-size: 25px;
        padding: 10px 0px;
    }
    .ab-img{
        width: 100%;
        margin: 20px 0px;
    }
    .ab-img img{
        width: 100%;
    }
    .ab-me{ 
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
    }
    .ab-points{
        margin-top: 20px;
        width: 90%;
        position: static;
    }
    .skill{
        padding-top: 80px;
    }
    .skill h2{
        font-size: 25px;
        padding: 10px 0px;
    }
    .skills{
        width: 95%;
        margin: 50px auto;  
        padding: 40px 5px;
       
    }
     .skill p{
        text-align: center;
     }
    .skill1{
        width: 90%; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .project{
        padding-top: 50px;
    }
    .project h2{
        font-size: 25px;
        padding: 10px 0px;
    }
     .project-parent{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 50px 0px;
     }
     .project1{
        width: 95%;
     }
     .project1 img{
        width: 100%;
        height: 100%;
     }
     .project1 .btn{
        width: 60%;
        font-size: 20px;
     }
     .contact1 h2{
        font-size: 25px;
        padding: 10px 0px;
    }
     .contact{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px 0px;
     }
     .contact h5{
        font-size: 20px;
     }

     .contact_info{
        width: 90%;
     }
     .info h5{
        font-size: 20px !important;
     }
     .media h5{
        font-size: 20px !important;
     }
     .contact_message{
        width: 90%;
     }
     .message_name{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
       
     }
     .message_name input{
        width: 100% !important;
     }
     .contact_message .btn{
        width: 50%;
        font-size: 16px;
     }
     .foot1-1{
        text-align: center;
     }
     #flex{
        display: flex;
        gap: 10px;
     }
}